.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.form {
  width: 300px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  color: #3c32a2;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 9px;
  font-size: 16px;
  color: #000000;
  border: 5px;
  border-bottom: 2px solid #810f0f;
  outline: none;
  background: transparent;
}

button {
  display: block;
  width: 100%;
  background: #03e9f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background: #03e9f4;
  color: #000;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
